<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="80ebecb1-5ccf-4c0a-b537-765af41c1fdc" name="TestSuite 1">
  <con:settings>
    <con:setting id="80ebecb1-5ccf-4c0a-b537-765af41c1fdcfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
